/* Add this to your existing CSS or create a new file */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    width: 400px;
    height: 270px;
    /* max-width: 400px; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(253, 253, 255, 0.984);
    }
  
  .popup h2 {
    text-align: center;
  }
  
  .popup p {
    margin-bottom: 10px;
  }
  
  .popup input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .popup button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .popup button:hover {
    background-color: #45a049;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  