/* CartPage.css */

/* Container styles */
.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Table styles */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cart-table th {
    background-color: #f2f2f2;
}

/* Delete button styles */
.delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Total styles */
.total-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.checkout-btn{
    text-align: end;
    margin-top: 20px;
    
}
.proceed-to-checkout-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.proceed-to-checkout-button:hover {
    background-color: #2980b9;
}