/* styles.css */

/* Container styling for the product list */
.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5%;
  }
  
  /* Individual product card styling */
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 230px; /* Fixed width */
    height: 400px; /* Fixed height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for product name */
  .product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Styling for product price */
  .product-price {
    color: #007bff;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Styling for product description */
  .product-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  /* Styling for product image */
  .product-image {
    width: 100px; /* Fixed width */
    height: 100px; /* Fixed height */
    border-radius: 4px;
    padding-left: 70px;
    padding-right: 50px;
  }
  
  /* Styling for the add to cart button */
  .add-to-cart-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Hover effect for the product card */
  .product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .btn-container{
    text-align: center;
  }

  .quantity-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    display: flex;
    align-self:center;
    justify-content: center;
  }
  
  .quantity-container button {
    background-color: rgb(72, 72, 134);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    margin-bottom: 10px;
    
  }
  
  .quantity {
    font-size: 16px;
    margin: 0 5px;
  }